<html>
<head>   <title>DevOps in the Cloud</title>  </head>
<body>
<div style="width:160px;height:35px;color:darkred;padding-left:40%;font-family:'Courier New', Courier, monospace;">JCE Registration</div>
<p  style="color: indigo">
  Select an option below
<ol style="color: indigo">
  <li><a href="/login">Login</a></li>
  <li><a href="/register">Register to site</a></li>
  <li><a href="/recover">Recover Password</a></li>
  <li><a href="/remove">Remove Me</a></li>
  <li><a href="/showAll">Show All</a></li>
  <li><a href="/quit">Quit</a></li>
</ol>
</body>
</html>
