<html>
<head>
  <title>DevOps in the Cloud</title>
</head>
<body>
<em style="color: steelblue; font-size: 20px;"><%= message %></em>
<ul>
  <li><a href="/">Return to main</a></li>
</ul>
</body>
</html>