<html>
<head><title>DevOps in the Cloud</title></head>
<body>
<h2>Recover Password</h2>
<br>
<form style="width: 400px; background-color: cyan" action="/recover" method="POST" id="regform">
  <fieldset>
    <legend>Enter your credentials</legend>Email:
    <label>
      <input required="required" type="email" name="email">
    </label><br/>
    New password: <label>
    <input required="required" type="password" name="new_pass">
  </label><br/>
    <input type="submit" value="Set new password"/>
  </fieldset>
</form>
<a href="/">Return to main</a>
</body>
</html>