
<html>
<head><title>DevOps in the Cloud</title></head>
<body>
<h2>Register Student</h2>
<br>
<form style="width: 400px; background-color: yellow" action="/register" method="POST" id="regform">
	<fieldset>
		<legend>Enter Student information</legend>
		Student name: <label>
		<input required="required" type="text" name="name">
	</label> <br/>
		email: <label>
		<input required="required" type="email" name="email">
	</label> <br/>
		password: <label>
		<input required="required" type="password" name="passwd">
	</label> <br/>
		<input type="submit" value="Register now" />
	</fieldset>
</form>
<a href="/">Return to main</a>
</body>
</html>