<html>
<head><title>DevOps in the Cloud</title></head>
<body>
<h2>Remove User</h2>
<br>
<form style="width: 400px; background-color: coral" action="/remove" method="POST" id="regform">
  <fieldset>
    <legend>Enter your credentials</legend>Email:
    <label>
      <input required="required" type="email" name="email">
    </label><br/>
    Password: <label>
    <input required="required" type="password" name="password">
  </label><br/>
    <input type="submit" value="Remove from system" />
  </fieldset>
</form>
<a href="/">Return to main</a>
</body>
</html>